@using EPiServer.Web.Mvc.Html
@model AreasResearch.Areas.Site2.Models.Site2WelcomePage

@{
    ViewBag.Title = "title";
}

<h2>Site2 WelcomePage</h2>

<section>
    @Html.PropertyFor(m => m.MainContentArea)
</section>